<h2>Enter New Contact Information</h2>


	 <form data-ng-submit="create()" data-ng-init="findcompanies()">
		<table class="table table-bordered">
			<tr>
				<th id="colorrow">Contact Name</th>
				<th id="colorrow">Title/Position</th>
				<th id="colorrow">Email</th>
				<th id="colorrow">Phone</th>
				<th id="colorrow">Notes</th>
			</tr>
			<tr>
				<td><input type="text" data-ng-model="Contact_name" id="Contact_name" placeholder="Contact Name" required/>
				</td><td><input type="text" data-ng-model="Contact_title" id="title" placeholder="Title"/></td>
				<td><input type="text" data-ng-model="Contact_email" id="Email" placeholder="Email" required /></td>
				<td><input type="text" data-ng-model="Contact_phone" id="Phone" placeholder="Phone number"/></td>
				<td><textarea data-ng-model="Contact_notes" id="Notes" placeholder="Notes"/></textarea></td>
			</tr>
		</table>
	  	

        <fieldset class="standard">
          <h4 id="colorrow">Select Company</h4>

          <table class="table" colspan="3" >
			<tr ng-repeat="companies in chunkedcompanies">
				<td ng-repeat="company in companies"><input type="radio" required name="company"
                       ng-click="choose(company)"/>{{company}}</td>
			</tr>
		  </table>
         
        </fieldset>


      </div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn-primary">
			</div>
		</div>
	</form>

