<section data-ng-init="findOne()">
	<h2> Edit Contact Information</h2>

	<form class="form-horizontal" data-ng-submit="update()">
		<div class="control-group">
			<label class="control-label" for="title">Contact Name</label>
			<div class="controls">
				<input type="text" data-ng-model="contact.Contact_name" id="name" placeholder="Contact Name" required>
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="company name">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="contact.Contact_title" id="title" placeholder="Title">
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="company name">Email</label>
			<div class="controls">
				<input type="text" data-ng-model="contact.Contact_email" id="Contact_email" placeholder="Email">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="company name">Phone</label>
			<div class="controls">
				<input type="text" data-ng-model="contact.Contact_phone" id="phone" placeholder="Phone">
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="notes">Notes</label>
			<div class="controls">
				<textarea data-ng-model="contact.Contact_notes" id="notes" cols="30" rows="3" placeholder="Notes">
				</textarea>
			</div>
		</div>
		<div >
        <fieldset class="standard">
          <legend>Company</legend>
          <div layout="row" layout-wrap flex>
            <div ng-repeat="company in companies" class="standard" flex="50">
              <label>
                <input type="radio" ng-checked="exists(company)" ng-click="choose2edit(company)"
                       />
                {{ company }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>