<section data-ng-init="findOne()">
	<h2> Edit Contact Information</h2>

	<form class="form-horizontal" data-ng-submit="update()">
		<table class="table table-bordered">
			<tr>
				<th id="colorrow">First Name</th>
				<th id="colorrow">Last Name</th>
				<th id="colorrow">Title/Position</th>
				<th id="colorrow">Email</th>
				<th id="colorrow">Phone</th>
				<th id="colorrow">Notes</th>
			</tr>
			<tr>
				<td><input type="text" data-ng-model="contact.Contact_firstname" id="Contact_firstname" placeholder="First Name" required/>
				<td><input type="text" data-ng-model="contact.Contact_lastname" id="Contact_lastname" placeholder="Last Name" required/>
				</td><td><input type="text" data-ng-model="contact.Contact_title" id="title" placeholder="Title"/></td>
				<td><input type="text" data-ng-model="contact.Contact_email" id="Email" placeholder="Email" required /></td>
				<td><input type="text" data-ng-model="contact.Contact_phone" id="Phone" placeholder="Phone number"/></td>
				<td><textarea data-ng-model="contact.Contact_notes" id="Notes" placeholder="Notes"/></textarea></td>
			</tr>
		</table>

		<div >
        <fieldset class="standard">
          <h4 id="colorrow">Company</h4>
          <table class="table" colspan="3" >
            <tr ng-repeat="companies in chunkedcompanies">
              <td ng-repeat="company in companies"><input type="radio" name="company" ng-checked="exists(company)" ng-click="choose2edit(company)"/>{{company}}</td>
            </tr>
          </table>
        </fieldset>
      	</div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</section>