<body>
	<h1>Contacts</h1>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	     <form ng-submit="searchForContact()">
	      <input type="text" class="form-control" ng-model="contactname" placeholder="Search for..." style="margin-top: 10px">
	      <input type="submit" value="Submit">
	     </form> 
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	<button type="button" class="btn btn-primary" ui-sref="addContact">Add Contact</button>
	<section>
		<table class="table table-bordered table-striped" data-ng-init="find()" >
			<tr>
				<th id="colorrow">Contact Name</th>
				<th id="colorrow">Company</th>
				<th id="colorrow">Title</th>
				<th id="colorrow">Tags</th>								
			</tr>
			<tr data-ng-repeat="contact in contacts">
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_name}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{companies[$index].Company_name}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_title}}</td>
				<td ui-sref="viewContact({id : contact.id})">
				{{tags[$index]}}</td>			
			</tr>
			<tr data-ng-show="contacts.length===0">
				<td><h3>No contacts yet</h3></td>
			</tr>
		</class="table">
					
	</section>

</body>
