<body>
	<h1>Look at All These Contacts!! Wow.</h1>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." style="margin-top: 10px">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->

	<button type="button" class="btn btn-primary" ui-sref="addContact">Add Contact</button>
	<section>
		<table class="table table-bordered table-striped" data-ng-init="find()" >
			<tr>
				<th id="colorrow">ID#</th>
				<th id="colorrow">Contact Name</th>
				<th id="colorrow">Company</th>
				<th id="colorrow">Title</th>
				<th id="colorrow">Email</th>
				<th id="colorrow">Phone</th>
				<th id="colorrow">Notes</th>
			</tr>
			<tr data-ng-repeat="contact in contacts">
				<td>{{contact.id}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_name}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{companies[$index].Company_name}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_title}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_email}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_phone}}</td>
				<td ui-sref="viewContact({id : contact.id})">{{contact.Contact_notes}}</td>
			</tr>
			<tr data-ng-show="!contacts">
				<td>No contacts yet</td>
			</tr>
		</class="table">
					
	</section>

</body>
