
<section data-ng-init="findOne()">
    <h2>{{contact.Contact_name}}</h2>

    <div style="margin-top:10px">
        <a class="btn" ui-sref="editContact({id : contact.id})">Edit</a>
        <a class="btn btn-danger" data-ng-click="remove();">Delete</a>
    </div><div class="panel panel-primary">
      
      <div class="panel-heading">
        <h4 class="panel-title ">Contact Information</h4>
      </div>
      <div class="panel-body"> 
        <p>Company: {{company.Company_name}}</p>
        <p data-ng-hide="!contact.Contact_title">Title/Position: {{contact.Contact_title}}</p>
        <p data-ng-show="!contact.Contact_title">No title</p>
        <p data-ng-hide="!contact.Contact_email">Email: {{contact.Contact_email}}</p>
        <p data-ng-show="!contact.Contact_email">No current email address</p>
        <p data-ng-hide="!contact.Contact_phone">Phone: {{contact.Contact_phone}}</p>
        <p data-ng-show="!contact.Contact_phone">No current phone number</p>
        <p data-ng-hide="!contact.Notes">Notes: {{contact.Notes}}</p>
        <p data-ng-show="!contact.Notes">No Notes</p>
      </div>
    </div> 
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title ">Marketing Campaigns</h4>
          </div>
          <div class="panel-body"> 
            <p>No campaigns at this time.</p>
          </div>
    </div>  

</section>
