
<section data-ng-init="findOne()">
    <h2>{{contact.Contact_name}}</h2>

    <div style="margin-top:10px">
        <a class="btn btn-primary" ui-sref="editContact({id : contact.id})">Edit</a>
        <a class="btn btn-danger" data-ng-click="remove();">Delete</a>
    </div><div class="panel panel-primary">
      
      <table class="table table-bordered">
      <tr>
        <th id="colorrow">Company Name</th>
        <th id="colorrow">Title/Position</th>
        <th id="colorrow">Email</th>
        <th id="colorrow">Phone</th>
        <th id="colorrow">Notes</th>
        <th id="colorrow">Tags</th>
      </tr>
      <tr>
        <td data-ng-model="company.Company_name" id="Contact_name" placeholder="Contact Name" required>{{company.Company_name}}
        </td><td data-ng-model="contact.Contact_title" id="title" placeholder="Title">{{contact.Contact_title}}</td>
        <td tdata-ng-model="contact.Contact_email" id="Email" placeholder="Email" required >{{contact.Contact_email}}</td>
        <td data-ng-model="contact.Contact_phone" id="Phone" placeholder="Phone number">{{contact.Contact_phone}}</td>
        <td data-ng-model="contact.Contact_notes" id="Notes" placeholder="Notes">{{contact.Contact_notes}}</td>
        <td>{{tags}}</td>
      </tr>
    </table>
  </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title ">Marketing Events</h4>
          </div>
          <div class="panel-body" > 
            <table class="table table-bordered" ng-show="noevents">
              <tr>
                <td>No events at this time.</td>
              </tr>
            </table>
            <table ng-hide="noevents" class="table table-bordered">
              <tr>
                <th id="colorrow">RU Number</th>
                <th id="colorrow">Technology Title</th>
                <th id="colorrow">Marketer</th>
                <th id="colorrow">Method</th>
                <th id="colorrow">Event Notes</th>
                <th id="colorrow">Event Date</th>
                <th id="colorrow">Follow Up Date</th>
              </tr>
              <tr data-ng-repeat="event in events" data-ng-init="geteventinfo(event)" ui-sref="viewEvent({id: event.id})">
                <td>{{eventdetails.Technology.Tech_RUNumber}}</td>
                <td>{{eventdetails.Technology.Tech_name}}</td>
                <td>{{eventdetails.User.name}}</td>
                <td>{{event.Event_method}}</td>
                <td>{{event.Event_notes}}</td>
                <td>{{event.Event_date | date:'MM/dd/yyyy'}}</td>
                <td ng-class="{'alert' : (event.Event_followupdate | date:'MM/dd/yyyy')<=(getNow() | date:'MM/dd/yyyy')}">{{event.Event_followupdate | date:'MM/dd/yyyy'}}</td>
            </tr>
          </table>
        </div>
    </div>  

</section>
