<section>
	<h2 data-ng-init="gettech()">Create Multiple New Events for the {{technology.Tech_name}} Campaign</h2>
	<form class="form-horizontal" data-ng-submit="createMultEvent()" data-ng-init="findCompanies2()">

		<table class="table table-bordered">
			<tr>
				<th id="colorrow">Event Date</th>
				<th id="colorrow">Contact Method</th>
				<th id="colorrow">Event Outcome</th>
				<th id="colorrow">Flag for Follow Up?</th>
				<th id="colorrow" ng-show="Event_flag===true">Follow Up Due Date</th>
				<th id="colorrow">Notes</th>
			</tr>
			<tr>
				<td><input type="date" data-ng-model="Event_date" id="Event_date" placeholder="Event Date" required/>
				</td>
				<td>
					<table rowspan="3">
						<tr data-ng-repeat="method in methods" >
							<td><input type="radio" ng-click="selectmethod(method)" name="Event_method" id="Event_method" required/>{{method}}</td>
						</tr>
					</table>
				</td>
				<td>
					<table rowspan="4">
						<tr data-ng-repeat="outcome in outcomes">
							<td><input type="radio" ng-click="selectoutcome(outcome)" name="Event_outcome" id="Event_outcome" required/>{{outcome}}</td>
						</tr>
					</table>
				</td>
				<td>
					<table rowspan="2">
						<tr data-ng-repeat="answer in yesno">
							<td><input type="radio" ng-click="setfollowupflag(answer)" name="flag" id="flag" required/>{{answer}}</td>
						</tr>
					</table>
				</td>
				<td ng-show="Event_flag===true"><input type="date" data-ng-model="followupdate" id="followupdate"/></td>
				<td><textarea data-ng-model="notes" id="Notes" placeholder="Notes"/></textarea></td>
			</tr>
		</table>

		<h4 id="colorrow">Select Companies</h4>
		<table class="table" colspan="3" >
			<tr ng-repeat="companies in chunkedcompanies">
				<td ng-repeat="company in companies"><input type="checkbox" name="company" ng-click="toggleCompanies(company, selected)"/>{{company.Company_name}}</td>
			</tr>
		  </table>

		<h4 id="colorrow">Select Contact(s)</h4>
		<table class="table" colspan="3" ng-repeat="company in selectedcompanies">
			<th id="lightgray">{{company.Company_name}}</th>
				<tr ng-repeat="contact in contactinfo[$index]">

               <td ><input type="checkbox" ng-checked="exists(contact, selected)" name="contact"
	                       ng-click="toggle2(contact,selected)"/>{{contact.Contact_name}}		
                   </td>
                   <td>{{contact.Contact_title}}</td>  
	               <td>{{contact.Contact_email}}</td>
					<td>{{contact.Contact_phone}}</td>
               </tr>
       </table>
			
			


		
		<div class="control-group">
			<div class="controls">
				<a ng-show="email" class="btn btn-primary" data-ng-click="sendemailandsubmit2()">Send Email and Submit</a>
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</section>