<body>
	<h1>Recent Marketing Events</h1>
	<button type="button" class="btn btn-primary" ui-sref="addEvent">Add Event</button>
		<table class="table table-bordered table-striped" data-ng-init="find()" >
			<tr>
				<th>ID#</th>
				<th>Date</th>
				<th>Notes</th>
			</tr>
			<tr data-ng-repeat="event in events">
				<td ui-sref="viewEvent({id : event.id})">{{event.id}}</td>
				<td ui-sref="viewEvent({id : event.id})">{{event.Event_date}}</td>
				<td ui-sref="viewEvent({id : event.id})">{{event.Event_notes}}</td>
			</tr>
			<tr data-ng-show="!event">
				<td>No events yet</td>
			</tr>
		</class="table">

</body>
