<section data-ng-init="findOneEvent()">
  <h2>Event Details</h2>
  
    	
    <div style="margin-top:10px">
    	<a class="btn btn-primary" ui-sref="addFollowUpEvent({TechId: event.TechnologyId, CompId:event.CompanyId})">Add Follow Up</a>
        <a class="btn btn-primary" ui-sref="editEvent({id : event.id})">Edit</a>
        <a class="btn btn-danger" data-ng-click="removeEvent()">Delete</a>
    </div>

    
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Event Details</h4>
      </div>
      
        <table class="table table-bordered">
              <tr>
                <th id="colorrow">RU Number</th>
                <th id="colorrow">Technology Title</th>
                <th id="colorrow">Marketer</th>
                <th id="colorrow">Company</th>
                <th id="colorrow">Method</th>
                <th id="colorrow">Contact(s)</th>
                <th id="colorrow">Event Date</th>
                <th id="colorrow">Follow Up Date</th>
                <th id="colorrow">Outcome</th>
                <th id="colorrow">Notes</th>
            </tr>
            <tr>
              <td>{{event.Technology.Tech_RUNumber}}</td>
              <td>{{event.Technology.Tech_name}}</td>
              <td>{{event.User.name}}</td>
              <td>{{event.Company.Company_name}}</td>
              <td>{{event.Event_method}}</td>
              <td>{{event.names}}</td>
              <td>{{event.Event_date | date:'MM/dd/yyyy'}}</td>
              <td>{{event.Event_followupdate | date:'MM/dd/yyyy'}}</td>
              <td>{{event.Event_outcome}}</td>
              <td>{{event.Event_notes}}</td>
          </tr>
        </table>
    </div>
    </div>

</section>
