<section>
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="name">Tech Name</label>
			<div class="controls">
				<input type="text" data-ng-model="Tech_name" id="Tech title" placeholder="Technology Title" required>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="marketer">Primary Marketer</label>
			<div class="controls">
				<input type="text" data-ng-model="Tech_marketer" id="marketer" placeholder="Primary Marketer">
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="tag">RU Number</label>
			<div class="controls">
				<input type="text" data-ng-model="Tech_RUNumber" id="RUNumber" placeholder="RU Number">
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="inventor">Inventor</label>
			<div class="controls">
				<input type="text" data-ng-model="Tech_inventor" id="inventor" placeholder="Inventor">
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="notes">Tags</label>
			<div class="controls">
				<textarea data-ng-model="Tag_name" id="tag" cols="30" rows="5" placeholder="Tag"></textarea>
			</div>
		</div>

		
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>