<h2>Enter New Campgaign Information</h2>

<section data-ng-init="findtagsandusers()">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<h4 class="control-label" for="name">Tech Name</h4>
			<div class="controls">
				<input type="text" data-ng-model="Tech_name" id="Tech title" placeholder="Technology Title" required>
			</div>
		</div>

		<div class="control-group">
			<legend class="control-label" for="tag">RU Number</legend>
			<div class="controls">
				<input type="text" data-ng-model="Tech_RUNumber" id="RUNumber" placeholder="RU Number">
			</div>
		</div>

		<div class="control-group">
			<legend class="control-label" for="inventor">Inventor</legend>
			<div class="controls">
				<input type="text" data-ng-model="Tech_inventor" id="inventor" placeholder="Inventor">
			</div>
		</div>

		<div >
        <fieldset class="standard">
          <legend>Select Primary Marketer</legend>
          <div layout="row" layout-wrap flex>
            <div class="standard" flex="50">
              <p ng-repeat="name in usernames">
              <label>
                <input type="radio" name="name" required ng-value="name" ng-click="choose(name)"/>
                {{name}}
              </label>
              </p>
            </div>
          </div>
        </fieldset>
		
		<div >
        <fieldset class="standard">
          <legend>Select Tags</legend>
          <div layout="row" layout-wrap flex>
            <div ng-repeat="tag in tagnames" class="standard" flex="50">
              <label>
                <input type="checkbox" ng-checked="exists(tag, selected)"
                       ng-click="toggle(tag, selected)"/>
                {{ tag }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

		
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>