<section data-ng-init="findOne()">
	<form class="form-horizontal" data-ng-submit="update()">
		<table class="table table-bordered">
			<tr>
				<th id="colorrow">Technology Name</th>
				<th id="colorrow">RU Number</th>
				<th id="colorrow">Inventor</th>
				<th id="colorrow">Active Campaign?</th>
				
			</tr>
			<tr>
				<td><input type="text" data-ng-model="technology.Tech_name" id="Tech title" placeholder="Tecnhology Title" required/>
				</td><td><input type="text" data-ng-model="technology.Tech_RUNumber" id="RUNumber" placeholder="RU Number"/></td>
				<td><input type="text" data-ng-model="technology.Tech_inventor" id="inventor" placeholder="Inventor" required /></td>
				<td><input type="radio" name="active" value="true" ng-checked="technology.isActive" ng-click="yes()"/>Yes<input type="radio" name="active" ng-checked="!technology.isActive" ng-click="no()"/>No</td>
				
			</tr>
		</table>

		<div>
        <fieldset class="standard">
          <h2 id="colorrow">Select Primary Marketer</h2>
          <table class="table" colspan="3" >
            <tr ng-repeat="marketers in chunkedmarketers">
              <td ng-repeat="name in marketers"><input type="radio" name="name" ng-checked="marktheusername(name)" ng-click="choosemarketer(name)"/>{{name}}</td>
            </tr>
          </table>

		<div >
        <fieldset class="standard">
          <h2 id="colorrow">Select Tags</h2>
            <table class="table" colspan="5" >
            <tr ng-repeat="tags in chunkedtagnames">
              <td ng-repeat="tag in tags"><input type="checkbox" ng-checked="exists(tag, selected)" ng-click="toggle2(tag, selected)"/>{{tag}}</td>
            </tr>
            </table>
        </fieldset>
      </div>
		
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</section>