<body>
	<h1 data-ng-init="getUser()">All Active Marketing Campaigns</h1>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <ng-form>
	      <input type="text" class="form-control" ng-model="number" placeholder="Search by RU number...." style="margin-top: 10px">
	      <span class="input-group-btn">
	        <button class="btn btn-default" ng-click="searchForTech()" type="button">Go!</button>
	       </ng-form>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
	<div>
		<button type="button" class="btn btn-primary" ui-sref="addTech">Start a New Campaign</button>
		<button type="button" class="btn btn-info">My Marketing Campaigns</button>
		<button type="button" class="btn btn-info">ALL Marketing Campaigns</button>
	
	</div>
		<table class="table table-bordered table-striped" data-ng-init="find()" >
			<tr>
				<th id="colorrow">ID#</th>
				<th id="colorrow">Primary Marketer</th>
				<th id="colorrow"">RU Number</th>
				<th id="colorrow">Technology</th>
				<th id="colorrow">Inventor</th>
				<th id="colorrow">Tags</th>
			</tr>
			<tr data-ng-repeat="technology in technologies">
				<td ui-sref="viewTech({id : technology.id})">{{technology.id}}</td>
				<td>{{arrayofusers[$index]}}</td>
				<td ui-sref="viewTech({id : technology.id})">{{technology.Tech_RUNumber}}</td>
				<td ui-sref="viewTech({id : technology.id})">{{technology.Tech_name}}</td>
				<td ui-sref="viewTech({id : technology.id})">{{technology.Tech_inventor}}</td>
				<td>{{tagnames[$index]}}</td>
			</tr>
			<tr data-ng-show="!technologies">
				<td>No technologies yet</td>
			</tr>
		</table>

		<div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title ">Events Marked for Follow-Up</h4>
          </div>
          <div class="panel-body"> 
            <p>Nothing to follow up with at this time.</p>
          </div>
    	</div>  


</body>

