<body data-ng-init="getAdmin()">
	<h1 >{{title}}Marketing Campaigns</h1>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <ng-form>
	      <input type="text" class="form-control" ng-model="number" placeholder="Search by RU number...." style="margin-top: 10px">
	      <span class="input-group-btn">
	        <button class="btn btn-success" ng-click="searchForTech()" type="button">Go!</button>
	       </ng-form>
	      </span>
	      	<button margin-bottom="10px" type="button" class="btn btn-primary" ui-sref="addTech">Start a New Campaign</button>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	
	<div>
		<button type="button"  ng-click="mymarketing()" class="btn btn-info">My Active Marketing Campaigns</button>
		<button type="button"  ng-click="active()" class="btn btn-info">All Active Campaigns</button>
		<button type="button" ng-click="allcamps()" class="btn btn-info">Active AND Inactive Campaigns</button>
		<button type="button" ng-click="unloved()" class="btn btn-info">Unloved Campaigns</button>
	
	</div>
		<table class="table table-bordered table-striped" data-ng-init="mymarketing()" >
			<tr>
				<th id="colorrow">Primary Marketer</th>
				<th id="colorrow"">RU Number</th>
				<th id="colorrow">Technology</th>
				<th id="colorrow">Inventor</th>
				<th id="colorrow">Tags</th>
				<th id="colorrow" ng-show="showall">Active Campaign?</th>
			</tr>
			<tr data-ng-repeat="technology in technologies">
				<td>{{arrayofusers[$index]}}</td>
				<td ui-sref="viewTech({id : technology.id})">{{technology.Tech_RUNumber}}</td>
				<td ui-sref="viewTech({id : technology.id})">{{technology.Tech_name}}</td>
				<td ui-sref="viewTech({id : technology.id})">{{technology.Tech_inventor}}</td>
				<td>{{tagnames[$index]}}</td>
				<td ng-show="showall" ng-if="technology.isActive">Yes</td>
				<td ng-show="showall" ng-if="!technology.isActive">No</td>
			</tr>
			<tr data-ng-show="!technologies">
				<td>No technologies yet</td>
			</tr>
		</table>

		<div class="panel panel-primary">
          <div class="panel-heading" data-ng-init="findEvents()">
            <h4 class="panel-title ">{{global.user.name}}'s Events Marked for Follow-Up</h4>
          </div>

          	<table class="table table-bordered" ng-show="noevents">
              <tr>
                <td>Nothing to follow up with at this time.</td>
              </tr>
            </table>
         
            <table ng-hide="noevents" class="table table-bordered">
            	<tr>
            		<th id="colorrow">Event Date</th>
            		<th id="colorrow">Marketer</th>
            		<th id="colorrow">RU Number</th>
            		<th id="colorrow">Technology Title</th>
            		<th id="colorrow">Company</th>
            		<th id="colorrow">Contact(s)</th>
            		<th id="colorrow">Method</th>
            		<th id="colorrow">Follow Up Date</th>
            		<th id="colorrow">Outcome</th>
        		</tr>
        		<tr data-ng-repeat="event in events" ui-sref="viewEvent({id: event.id})">
        			<td>{{event.Event_date | date:'MM/dd/yyyy'}}</td>
        			<td>{{users[$index].name}}</td>
        			<td>{{Eventtechs[$index].Tech_RUNumber}}</td>
        			<td>{{Eventtechs[$index].Tech_name}}</td>
        			<td>{{companies[$index].Company_name}}</td>
        			<td>{{contactnames[$index]}}</td>
        			<td>{{event.Event_method}}</td>
        			<td ng-class="{'alert' : (event.Event_followupdate | date:'MM/dd/yyyy')<=(getNow() | date:'MM/dd/yyyy')}">{{event.Event_followupdate | date:'MM/dd/yyyy'}}</td>
        			<td>{{event.Event_outcome}}</td>
    			</tr>
			</table>
          
    	</div>  


</body>

