<section data-ng-init="findOne()">
    <h2>{{technology.Tech_name}} Marketing Campaign</h2>
    <div>
        <a class="btn btn-primary" ui-sref="editTech({id : technology.id})">Edit</a>
        <a class="btn btn-danger" data-ng-click="remove();">Delete</a>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title ">{{technology.Tech_name}} Information</h4>
      </div>
      
          <table class="table table-bordered">
            <tr>
              <th id="colorrow">Primary Marketer</th>
              <th id="colorrow">RU Number</th>
              <th id="colorrow">Inventor</th>
              <th id="colorrow">Tags</th>
              <th id="colorrow">Active Campaign?</th>
              <th id="colorrow">Loved?</th>
            </tr>
            <tr>
              <td>{{user.name}}</td>
              <td>{{technology.Tech_RUNumber}}</td>
              <td>{{technology.Tech_inventor}}</td>
              <td>{{tags}}</td>
              <td ng-show="technology.isActive">Yes</td>
              <td ng-show="!technology.isActive">No</td>
              <td ng-show="!technology.isUnloved">Yes</td>
              <td ng-show="technology.isUnloved">No</td>
            </tr>
          </table>
        
    </div>  


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Suggested Companies</h4>
      </div>
      <table class="table">
            <tr ><td ng-show="suggestedcompanies.length===0">No suggested companies</td></tr>
            <tr id="colorrow" ng-show="suggestedcompanies.length>0">
              <th>Company Name</th>
              <th>Matching tag(s)</th>
            </tr>
            <tr ng-repeat="company in suggestedcompanies" ui-sref="viewCompany({id: company.id})">
              <td>{{company.Company_name}}</td>
              <td>{{finaltagnames[$index]}}</td>
            </tr>
      </table>
      </div>


    <a class="btn btn-primary" ui-sref="addEvent({id : technology.id})">Add Event</a>
    <a class="btn btn-primary" ui-sref="addManyEvents({id : technology.id})">Add Multiple Events</a>
   
    <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title ">{{technology.Tech_name}} Contacted Companies</h4>
          </div>

          <table class="table table-bordered" ng-show="noevents">
              <tr>
                <td>No contacted companies at this time.</td>
              </tr>
            </table>

            <div ng-hide="noevents" class="panel panel-info">
            
              <accordion>
                <accordion-group data-ng-repeat="arrayofevents in parsedevents" heading="{{arrayofevents[0].Company.Company_name}}">
                  <table class="table table-bordered">
                    <caption ><strong>{{arrayofevents[0].Company.Company_name}}</strong></caption>
                    <tr >
                      <th id="colorrow">Event Date</th>
                      <th id="colorrow">Follow Up Due Date</th>
                      <th id="colorrow">Marketer</th>   
                      <th id="colorrow">Contact(s)</th>
                      <th id="colorrow">Method</th>
                      <th id="colorrow">Outcome</th>
                      
                      <th id="colorrow">Notes</th>
                      
                    </tr>
                    <tr data-ng-repeat="event in arrayofevents" ui-sref="viewEvent({id: event.id})">
                      <td>{{event.Event_date | date:'MM/dd/yyyy'}}</td>
                      <td ng-if="event.Event_followupdate===null">None</td>
                      <td ng-if="event.Event_followupdate" ng-class="{'alert' : (event.Event_followupdate | date:'MM/dd/yyyy': '-0200')<=(getNow() | date:'MM/dd/yyyy')}">{{event.Event_followupdate | date:'MM/dd/yyyy': '-0200'}}</td>
                      <td>{{event.User.name}}</td> 
                      <td data-ng-init="contacts(event)">{{event.names}}</td>
                      <td>{{event.Event_method}}</td>
                      <td>{{event.Event_outcome}}</td>
                      
                      <td>{{event.Event_notes}}</td>
                      
                </tr> 
              </table> 
            </accordion-group>
          </accordion>
                   
        </div>  
    </div>  
</section>

