<section data-ng-init="findOne()">
    <h2>{{technology.Tech_name}} Marketing Campaign</h2>
    <div>
        <a class="btn btn-primary" ui-sref="editTech({id : technology.id})">Edit</a>
        <a class="btn btn-danger" data-ng-click="remove();">Delete</a>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title ">Camapaign Information</h4>
      </div>
      <div class="panel-body"> 
        <p> Primary Marketer:</p>
        <p>RU Number: {{technology.Tech_RUNumber}}</p>
        <p>Inventor: {{technology.Tech_inventor}}</p>   
        <p data-ng-hide="technology.Tags.length==0" ng-repeat="tag in technology.Tags">Tags: {{tag.Tag_name}}</p>
        <p data-ng-show="technology.Tags.length==0">Tags: No Tags</p>
      </div>
    </div>  
    <a class="btn btn-primary" ui-sref="addEvent({id : technology.id})">Add Event</a>
   <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title ">Events</h4>
      </div>
      <div class="panel-body"> 
        <p>nothing yet</p>
      </div>
    </div>  
    <div>

</section>

