<h2>Enter New Company Information</h2>

<section data-ng-init="findtags()">
	<form class="form-horizontal" data-ng-submit="create()">
		<table class="table table-bordered">
			<tr>
				<th id="colorrow">Company Name</th>
				<th id="colorrow">Notes</th>
			</tr>
			<tr>
				<td><input type="text" data-ng-model="Company_name" id="Company_name" placeholder="Company Name" required/>
				</td>
				<td><textarea data-ng-model="Notes" id="Notes" placeholder="Notes"/></textarea></td>
			</tr>
		</table>
        
      <div >
        <fieldset class="standard">
          <h4 id="colorrow">Select Tags</h4>

          <table class="table" colspan="5" >
			<tr ng-repeat="tags in chunkedtagnames">
				<td ng-repeat="tag in tags"><input type="checkbox" ng-checked="exists(tag, selected)"
                       ng-click="toggle(tag, selected)"/>{{tag}}</td>
			</tr>
		  </table>
          </div>
        </fieldset>
      </div>
	
		<div class="control-group">
			<div class="controls">
				<input class="btn btn-primary" type="submit">
			</div>
		</div>
	</form>
</section>