<section data-ng-init="findOne()">
	<h2>Edit Company Information</h2>
	<form class="form-horizontal" data-ng-submit="update()">
		<table class="table table-bordered">
      <tr>
        <th id="colorrow">Company Name</th>
        <th id="colorrow">Notes</th>
      </tr>
      <tr>
        <td><input type="text" data-ng-model="company.Company_name" id="Company_name" placeholder="Company Name" required/></td>
        <td><input type="text" data-ng-model="company.Notes" id="Notes" placeholder="Notes"/></td>
      </tr>
    </table> 

		<div >
        <fieldset class="standard">
          <legend>Tags</legend>
          <div layout="row" layout-wrap flex>
            <div ng-repeat="tag in tagnames" class="standard" flex="50">
              <label>
                <input type="checkbox" ng-checked="exists(tag, selected)"
                       ng-click="toggle2(tag, whatyouneed)"/>
                {{ tag }}
              </label>
            </div>
          </div>
        </fieldset>
      </div>

		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</form>
</section>