
<body>
	<h1>Tell Me  More About These Companies</h1>
	<div class="row">
	  <div class="col-lg-6">
	    <div class="input-group">
	      <input type="text" class="form-control" placeholder="Search for..." style="margin-top: 10px">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Go!</button>
	      </span>
	    </div><!-- /input-group -->
	  </div><!-- /.col-lg-6 -->
	</div><!-- /.row -->
	<button type="button" class="btn btn-primary" data-ng-click="gettags()" ui-sref="addCompany">Add Company</button>

	<section>
		<table class="table table-bordered table-striped" data-ng-init="find()" >
			<tr>
				<th>ID#</th>
				<th>Company Name</th>
				<th>Notes</th>
				<th>Tags</th>
			</tr>
			<tr data-ng-repeat="company in companies">
				<td ui-sref="viewCompany({id : company.id})">{{company.id}}</td>
				<td ui-sref="viewCompany({id : company.id})">{{company.Company_name}}</td>
				<td ui-sref="viewCompany({id : company.id})">{{company.Notes}}</td>
				<td ng-repeat="tag in company.Tags">{{tag.Tag_name}}</td>
			</tr>
			<tr data-ng-show="!companies">
				<td>No companies yet</td>
			</tr>
		</class="table">
					
		<h1 data-ng-hide="!companies || companies.length">No companies yet. <br> Why don't you <a ui-sref="createCompany">Create One</a>?</h1>
	</section>

</body>
