<section data-ng-init="findOne()">
    <h2>{{company.Company_name}}</h2>

    <div>
        <a class="btn btn-primary" ui-sref="editCompany({id : company.id})">Edit Company</a>
        <a class="btn btn-danger" data-ng-click="remove();">Delete</a>
    </div>   <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title ">Company Information</h4>
      </div>
      <div class="panel-body"> 
            <p data-ng-hide="!company.Notes">Notes: {{company.Notes}}</p>
                <p data-ng-show="!company.Notes">Notes: none</p>                 
            <p data-ng-hide="!company.Tag_name">Tags: {{company.Tag_name}}</p>
                <p data-ng-show="!company.Tag_name">Tags: No Tags</p>
            <p data-ng-hide="!company.Contact_name">Company Contacts: {{company.Contact_name}}</p>
            <p data-ng-show="!company.Contact_name">Company Contacts: None</p>
      </div>
    </div>  
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title ">Marketing Campaigns</h4>
          </div>
          <div class="panel-body"> 
            <p>No campaigns at this time.</p>
          </div>
    </div>  

</section>



