
<section data-ng-init="findOne()">
    <h2>{{company.Company_name}}</h2>

    <div>
        <a class="btn btn-primary" ui-sref="editCompany({id : company.id})">Edit Company</a>
        <a class="btn btn-danger" data-ng-click="remove();">Delete</a>
    </div>  
    <table class="table table-bordered">
      <tr>
        <th id="colorrow">Company Name</th>
        <th id="colorrow">Notes</th>
        <th id="colorrow"> Tags</th>
      </tr>
      <tr>
        <td data-ng-model="Company_name" id="Company_name" placeholder="Company Name">{{company.Company_name}}
        </td>
        <td data-ng-model="Notes" id="Notes" placeholder="Notes">{{company.Notes}}</td>
        <td id="tags" placeholder="tags">{{tags}}</td>
      </tr>
    </table> 

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4 class="panel-title">Company Contacts</h4>
      </div>
      <div class="panel-body">
        <table>
            <tr data-ng-repeat="contact in completecontacts"><td ui-sref="viewContact({id: contact.id})">{{contact.Contact_name}}</td></tr>
       </table>
      </div>

    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title ">Marketing Campaigns</h4>
          </div>
          <div class="panel-body"> 
            <p>No campaigns at this time.</p>
          </div>
    </div>  

</section>

