<div>
<h2>Add New User</h2>
    <form ng-submit="signUp(newuser)"  class="signup form-horizontal">
      <table class="table table-striped table-bordered">
        <tr>
            <th id="colorrow">User Name</th>
            <th id="colorrow">Email</th>
            <th id="colorrow">Temporary Password</th>
            <th id="colorrow">Administrator?</th>
        </tr>
        <tr>
            <td><input type="text" ng-model="newuser.name" id="name" placeholder="Username" required/></td>
            <td><input type="text" ng-model="newuser.email" id="email" placeholder="Email"/></td>
            <td><input type="text" ng-model="newuser.temppassword" id="temppassword"/></td>
            <td><input type="radio" value="true" name="admin" ng-model="newuser.admin">Yes<br>
            <input type="radio" value="false" name="admin" ng-model="newuser.admin">No<br></td>
        </tr>
      </table>

    </form>
</div>