<h2>Change Password</h2>

<form ng-submit="changepassword()">

<table class="table table-striped table-bordered">
        <tr>
            <th id="colorrow">Current Password</th>
            <th id="colorrow">New Password</th>
            <th id="colorrow">Repeat New Password</th>
        </tr>
        <tr>
            <td><input placeholder="Password" type="password" data-ng-model="oldpassword" id="oldpassword" required/></td>
            <td><input placeholder="New Password" type="password" data-ng-model="newpassword" id="newpassword" required/></td>
            <td><input placeholder="New Password" type="password" data-ng-model="checkedpassword" required/></td>
        </tr>
    </table>


<div class="control-group">
	<div class="controls">
		<input type="submit" class="btn btn-primary">
	</div>
</div>

</form>