<div>
<h2>Add New Tag</h2>
    <form ng-submit="addNewTag()"  class="form-horizontal">
        <div class="control-group">
            <table>
                <tr>
                    <th class="form-actions"><button type=submit" class="btn btn-primary">Add Tag</button></th>
                    <th class="controls"><input id="tag" type="text" name="tag" placeholder="Tag Name" ng-model="tagname" required></th>
                </tr>
            </table>
        </div>
    </form>

    <span data-ng-init="findtags()">

        
        <fieldset class="standard">
          <h4 id="colorrow">Select Tag to Delete</h4>
            <table class="table" colspan="5" >
              <tr ng-repeat="tags in chunkedtagnames">
                <td ng-repeat="tag in tags"><input type="radio" name="tag" ng-checked="exists(tag, selected)" ng-click="choose(tag)"/>{{tag}}</td>
              </tr>
            </table>

          
            <button class='btn btn-danger' data-ng-click="deleteTag()">Delete Tag</button>
          </div>
        </fieldset>
    </span>
</div>
