<section data-ng-init="findUser()">
    <h2>{{user.name}}</h2>

    <div style="margin-top:10px">
        <a class="btn btn-primary" ui-sref="editUser({id : user.id})">Edit</a>
        <a class="btn btn-danger" ng-click="deleteUser();">Delete</a>
    </div>
    <table class="table table-striped table-bordered">
        <tr>            
            <th id="colorrow">First Name</th>
            <th id="colorrow">Last Name</th>
            <th id="colorrow">User Name</th>
            <th id="colorrow">Email</th>
            <th id="colorrow">Administrator?</th>
            <th id="colorrow">Intern?</th>
            <th id="colorrow" ng-show="user.Advisor">Advisor</th>
        </tr>
        <tr>            
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td ng-show="user.admin">Yes</td>
            <td ng-show="!user.admin">No</td>
            <td ng-show="user.intern===true">Yes</td>
            <td ng-show="user.intern===false">No</td>
            <td ng-show="user.Advisor">{{user.Advisor.name}}</td>
        </tr>
    </table>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title ">Marketing Campaigns</h4>
          </div>
          <div class="panel-body"> 
            <table class="table table-striped table-bordered">
                 <tr>
                    <th id="colorrow">RU Number</th>
                    <th id="colorrow">Technology Name</th>
                    <th id="colorrow">Inventor</th>
                    <th id="colorrow">Active Campaign?</th>
                </tr>
                <tr ng-repeat="tec in tex">
                    <td>{{tec.Tech_RUNumber}}</td>
                    <td ui-sref="viewTech({id:tec.id})">{{tec.Tech_name}}</td>
                    <td>{{tec.Tech_inventor}}</td>
                    <td ng-show="tec.isActive">Yes</td>
                    <td ng-show="!tec.isActive">No</td>
                </tr>
          </div>
    </div>  

</section>