<section data-ng-init="findUser()">
    <h2>{{user.name}}</h2>

    <div style="margin-top:10px">
        <a class="btn" ui-sref="editUser({id : user.id})">Edit</a>
        <a class="btn btn-danger" ng-click="delete();">Delete</a>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th id="colorrow">User Name</th>
            <th id="colorrow">Email</th>
            <th id="colorrow">Administrator?</th>
        </tr>
        <tr>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.admin}}</td>
        </tr>
    </table>
    
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title ">Marketing Campaigns</h4>
          </div>
          <div class="panel-body"> 
            <p>No campaigns at this time.</p>
          </div>
    </div>  

</section>